<h1>Tárgy kategorizáló</h1>
<br><br>
<blockquote>
    Az alkalmazásban lehetőségünk van tárgyak felvételére.
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Regisztráljon, jelentkezzen be, majd kezdjen tárgyakat felvenni...</p>
    </div>
</div>